<div class="container">
    <div class="row">
        <div class="col">
            <form action="index.php" method="GET">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" name="check" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <h3>Your email:
                <?php 
                 if (!isset($email )){
                    echo "Not set";
                 }
                 else{
                     echo $email;
                 } 
            ?>
            </h3>
            <h3>Your password:
                <?php 
                if (!isset($password )){
                    echo "Password not set";
                 }
                 else{
                    echo $password;
                 }
                ?>
            </h3>
        </div>
    </div>
</div>